// =======================
// === APP.scss        ===
// === Your app styles ===
// =======================

html {
	// overflow-y: scroll;
}

a {
	@include transition(all 300ms ease-in-out);
}

.container {
	padding-top: 50px;

	:first-child {
		margin-top: 0;
	}

	p a:link, ul a:link {
		font-weight: $bold-font-weight;
	}
}

.giant-logo {
	@include font-size(1000);
	position: fixed;
	top: 0px; left: 0;
	z-index: -1;
	text-align: center;
	font-weight: $bold-font-weight;
	color: #fafafa;
	@include square(0px);
	@include transform-origin(0%, 0%);
	@include rotate(44deg);
	@include user-select(none);
}

// ================
// === MASTHEAD ===
// ================
.masthead {
	background-color: $orange;
	color: #fff;

	a, h1, h2 {
		color: #fff;
	}

	a:after {
		// font-size: 30px;
	}
}

.masthead-home {
	text-align: center;
	padding: 60px 0;

	.logo {
		margin-top: 0;
		margin-bottom: 20px;
	}

	h2 {
		margin-top: 20px;
	}
}

.masthead-all {
	background-color: $orange;
	color: #fff;
	text-align: center;

	.logo {
		margin: 0;
		@include font-size(30);
		text-align: center;
	}

	.container {
		padding: 5px;
	}
}

.nav {
	a {
		display: inline-block;
		padding: 3px 9px;
		font-weight: $bold-font-weight;
		margin: 0 5px;
		@include font-size(16);
		@include border-radius(3px);
		line-height: 1.3;

		&:hover {
			background-color: darken($orange, 10%);
		}

		&.is-active {
			background-color: #fff;
			color: $orange;
		}
	}
}

.main-nav {
	@extend .unstyled;
	@include clearfix;

	> li {
		display: inline-block;
		position: relative;
	}

	a:after {
		display: none;
	}
}

.sub-nav {
	position:absolute;
	display: none;
	top: 100%;
	width: 200px;
	background-color: $orange;
	@extend .unstyled;
	@include border-radius(0 0 5px 5px);
	padding: 5px 0;
	z-index: 100;

	li {
		float: none;
	}

	a {
		text-align: left;
		color: #fff;
		display: block;
	}
}

.github-link {
	background-color: darken($orange, 20%);
}

// Footer
.credits {
	margin: 80px 0;
	border-top: 2px solid $color-primary;
	padding-top: 20px;
}

.social-links a {
	display: block;
	margin-bottom: 5px;
}

// Stack logos
.stack-logos {
	margin: 10px auto;
	@include clearfix;
	@extend .unstyled;
	text-align: center;
	font-weight: $bold-font-weight;

	a {
		width: 70px;
		// height: 140px;
		// padding: 20px;
		display: inline-block;
		margin: 0 20px;
		vertical-align: baseline;
	}
}


// DEMOS
.grid-block-link {
	display: block;
	min-height: 130px;
	text-align: center;

	&:hover {
		background-color: $orange;
		color: #fff;
	}

	h3 {
		margin-top: 0;
	}

	.asset-font {
		@include font-size(150);
		line-height: 0.6;
	}

	:last-child {
		margin-bottom: 0;
	}
}


.entry--title {
	margin-top: 0;
	border-bottom: 2px solid $color-primary;
}

// Docs footer
.docs-footer {
	margin-top: 50px;
}


// Choreographic Grid Demo
#show-grid-button {
	position: fixed;
	bottom: 3px; right: 3px; left: 3px;
	z-index: 10;
}
// .show-grid .grid-test .col {
// 	border: 1px solid rgba($color-primary, 0.2);
// 	margin-bottom: 10px;
// }

.show-grid .grid-test .col {
	background-color: rgba($color-primary,0.1);
	box-shadow:inset 0 1px 1px rgba($color-primary,.25);
	@include border-radius(5px);
}
.show-grid .grid-test .row {
	margin-bottom: 20px;
}
.show-grid .grid-test .split .col {
	background-color: rgba($blue, 0.3);
}
.show-grid .grid-test .shunt {
	background-color: rgba($red, 0.2);
}
.show-grid .grid-test [class*="pull"] {
	background-color: rgba($green, 0.3);
}
.show-grid .grid-test [class*="push"] {
	background-color: rgba($yellow, 0.3);
}
.show-grid .grid-test [class*="offset"] {
	background-color: rgba($orange, 0.4);
}

.col.centred {
	text-align: center;
}

.class-tag {
	display: none;
}
.show-grid .class-tag {
	position: absolute;
	top: -6px; right: 0;
	display: block;
}
// ===========================================
// === Media queries for responsive design ===
// ===========================================
// NOTE: these will need to be adjusted, possibly moved into another file

// Retina media Queries
// Credit: http://dev.mattnt.com/retina-results.html
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

	// * {
	// 	background-image: url(@imgSprite2x);
	// 	background-size: @imgSpriteDimensions;
	// }

}

// === 400> ===
@include respond-min($breakpoint-narrow) {

}
// === end 400> ===



// === 768> ===
@include respond-min($breakpoint-mid) {
	body {
		padding-top: 50px;

		&.page-home {
			padding-top: 0;
		}
	}
	.masthead-all {
		background-color: $orange;
		color: #fff;
		position: fixed;
		top: 0; right: 0; left: 0;

		.logo {
			float: left;
			margin: 0;
			@include font-size(30);
			text-align: left;
		}

		.nav {
			float: right;
		}

		.container {
			padding: 0;
			line-height: 50px;
		}
	}

	.main-nav {
		> li {
			&:hover {
				.sub-nav {
					display: block;
				}
			}
		}

		a:after {
			display: inherit;
		}
	}
}
// === end 768> ===


// === 992> ===
@include respond-min($breakpoint-wide) {

}
// === end 992> ===


// === 1382> ===
@include respond-min($breakpoint-huge) {

}
// === end 1382> ===
