// =======================
// === APP.scss        ===
// === Your app styles ===
// =======================

html {
	overflow-y: scroll;
}

a {
	@include transition(all 150ms ease-in-out);
}

.g-container {
	// padding-top: 50px;

	:first-child {
		margin-top: 0;
	}

	p a:link, ul a:link {
		font-weight: $bold-font-weight;
	}
}

.giant-logo {
	@include font-size(1000);
	position: fixed;
	top: 0px; left: 0;
	z-index: -1;
	text-align: center;
	font-weight: $bold-font-weight;
	color: #fafafa;
	@include square(0px);
	@include transform-origin(0%, 0%);
	@include rotate(44deg);
	@include user-select(none);
}

/* ==========================================================================
   Masthead
   ========================================================================== */
.masthead {
	position: relative;
	z-index: 100;
	background-color: $color-primary;
	color: #fff;
	border-bottom: 3px solid darken($color-primary, 10%);

	a, h1, h2 {
		color: #fff;
	}

	a:after {
		// font-size: 30px;
	}
}

.masthead-home {
	text-align: center;
	padding: 20px 0;

	.g-container {
		padding-top: 0;
	}

	.logo {
		margin-top: 0;
		margin-bottom: 20px;
		line-height: 1.1;
	}

	h2 {
		margin-top: 10px;
		margin-bottom: 10px;
		@include font-size(20);
		line-height: 1.1;
	}
}

.masthead-all {
	background-color: $color-primary;
	color: #fff;
	text-align: center;

	.logo {
		margin: 0;
		@include font-size(30);
		text-align: center;
		line-height: 1.5;
	}

	.g-container {
		padding: 5px;
	}
}

.nav {
	a {
		display: inline-block;
		padding: 3px 9px;
		font-weight: $bold-font-weight;
		margin: 0 5px;
		@include font-size(16);
		@include border-radius(3px);
		line-height: 1.3;
		border: 2px solid transparent;

		&:hover {
			background-color: rgba(darken($color-primary, 10%), 0.5);
			color: #fff;
			border-color: darken($color-primary, 10%);
		}

		&.is-active {
			// background-color: #fff;
			color: #fff;
			border-color: #fff;
		}
	}
}

.main-nav {
	@extend .unstyled;
	@include clearfix;

	> li {
		display: inline-block;
		position: relative;

		&:hover {
			// background-color: darken($color-primary, 10%);
		}
	}

	a:after {
		display: none;
	}
}

.sub-nav {
	position:absolute;
	display: none;
	top: 100%;
	width: 200px;
	background-color: $color-primary;
	@extend .unstyled;
	@include border-radius(0 0 5px 5px);
	padding: 5px 0;
	z-index: 100;
	background-color: darken($color-primary, 10%);

	li {
		float: none;
	}

	a {
		text-align: left;
		color: #fff;
		display: block;

		&:hover {
			border-color: darken($color-primary, 20%);
		}
	}
}

.github-link {
	background-color: darken($color-primary, 20%);
}

// Footer
.credits {
	margin: 50px auto;
	border-top: 2px solid $color-primary;
	padding-top: 20px;
}

.social-links a {
	display: block;
	margin-bottom: 5px;
}


/* ==========================================================================
   Home page
   ========================================================================== */
.bigBoy {
	background-color: $color-primary;

	h1 {
		margin-bottom: 0;
	}
	h2 {
		margin-top: 0;
		@include font-size(20);

		br {
			display: none;
		}
	}
}

.wideBoy {
	padding: 50px 0;

	&, a:link, a:visited, h3, h4 {
		color: #fff;
	}

	a:hover,
	a:active {
		color: darken($color-primary, 20%)
	}

	&.default {
		background-color: $color-primary;
	}
}


.linkList {
	margin: 30px 0;
}

.contribute {
	background-color: $gray;
	overflow: hidden;
}


/*
   Tech stack
   ========================================================================== */
.techStack {
	background-color: #E26226;

	:last-child {
		margin-bottom: 0;
	}
}

.stackLogos {
	margin: 10px auto;
	@include clearfix;
	@extend .unstyled;
	text-align: center;
	font-weight: $bold-font-weight;

	a {
		min-width: 70px;
		max-width: 160px;
	}

	img {
		@include border-radius(5px);
		vertical-align: top;
		max-height: 145px;
		margin-bottom: 5px;
	}
}

/*
   Showcase
   ========================================================================== */
.showcase {
	background-color: #DF492A;

	:last-child {
		margin-bottom: 0;
	}
}

.showcaseList {
	text-align: center;

	.wideBoy & {
		&, & a, &:visited {
			color: $color-link-default;
		}
	}

	figure {
		background-color: #fff;
		max-width: 475px;
		margin: 0 auto;
	}

	li {
		margin-bottom: 20px;
	}

	figcaption {
		line-height: 2;
	}

	img {
		display: block;
	}

	a {
		&:hover {
			color: $color-link-hover;
		}
	}
}



/* ==========================================================================
   Demos
   ========================================================================== */
.grid-block-link {
	display: block;
	min-height: 130px;
	text-align: center;

	&:hover {
		background-color: $color-primary;
		color: #fff;
	}

	h3 {
		margin-top: 0;
	}

	.asset-font {
		@include font-size(150);
		line-height: 60px;
		height: 70px;
	}

	:last-child {
		margin-bottom: 0;
	}
}

.entry {
	padding-top: 50px;
}
.entry--title {
	margin-bottom: 0;
}


// Choreographic Grid Demo
.show-grid .grid-test .g-col {
	background-color: rgba($color-primary,0.1);
	box-shadow:inset 0 1px 1px rgba($color-primary,.25);
	@include border-radius(5px);
}
.show-grid .grid-test .g-row {
	margin-bottom: 20px;
}
.show-grid .grid-test .g-split .g-col {
	background-color: rgba($blue, 0.3);
}
.show-grid .grid-test .g-shunt {
	background-color: rgba($red, 0.2);
}
.show-grid .grid-test [class*="g-pull"] {
	background-color: rgba($green, 0.3);
}
.show-grid .grid-test [class*="g-push"] {
	background-color: rgba($yellow, 0.3);
}
.show-grid .grid-test [class*="g-offset"] {
	background-color: rgba($color-primary, 0.4);
}

.grid-test .g-col.g-centered {
	text-align: center;
}

.class-tag {
	display: none;
}
.show-grid .class-tag {
	position: absolute;
	top: -6px; right: 0;
	display: block;

	code {
		@include font-size(11);
	}
}

/*
   Style Github Gist embeds
   ========================================================================== */
.gist .gist-file {
	font-size: 14px;
	tab-size: 3;
	text-align: left;
}






// ===========================================
// === Media queries for responsive design ===
// ===========================================

// === $breakpoint-narrow> ===
@include respond-min($breakpoint-narrow) {
	.bigBoy {
		h2 {

			br {
				display: inherit;
			}
		}
	}
}
// === end $breakpoint-narrow> ===



// === $breakpoint-mid> ===
@include respond-min($breakpoint-mid) {
	body {
		padding-top: 50px;

		&.page-home {
			padding-top: 0;
		}
	}

	.masthead-home {
		padding: 60px 0;

		.logo {
			margin-top: 0;
			margin-bottom: 20px;
		}

		h2 {
			margin-top: 20px;
			@include font-size(28);
			line-height: 1.5;
		}
	}

	.masthead-all {
		background-color: $color-primary;
		color: #fff;
		position: fixed;
		top: 0; right: 0; left: 0;

		.logo {
			float: left;
			margin: 0;
			@include font-size(30);
			text-align: left;
		}

		.nav {
			float: right;
		}

		.g-container {
			padding: 0;
			line-height: 50px;
		}
	}

	.main-nav {
		> li {
			&:hover {
				.sub-nav {
					display: block;
				}
			}
		}

		a:after {
			display: inherit;
			@include font-size(22);

			vertical-align: baseline;
			line-height: 0.4;
		}
	}

	.bigBoy.wideBoy {
		h1 {
			@include font-size(80);
			line-height: 3;
		}
		h2 {
			@include font-size(28);
		}
	}

	.wideBoy {
		h1 {
			@include font-size(51);
		}
		h2 {
			@include font-size(28);
		}
	}

	.showcaseList {
		li {
			margin-bottom: 0px;
		}
	}
}
// === end $breakpoint-mid> ===
