<!-- <li><a href="/kickoff/demos/index.html"{% if page.navactive == 'demoindex' %} class="is-active"{% endif %}>Demo home</a></li> -->
<li><a href="/kickoff/demos/typography.html"{% if page.navactive == 'demotype' %} class="is-active"{% endif %}>Typography</a></li>
<li><a href="/kickoff/demos/forms.html"{% if page.navactive == 'demoforms' %} class="is-active"{% endif %}>Forms</a></li>
<li><a href="/kickoff/demos/components.html"{% if page.navactive == 'democomponents' %} class="is-active"{% endif %}>Components</a></li>
<li><a href="/kickoff/demos/grids.html"{% if page.navactive == 'demogrid' %} class="is-active"{% endif %}>Grids</a></li>
<li><a href="/kickoff/demos/elements.html"{% if page.navactive == 'demoelements' %} class="is-active"{% endif %}>Elements</a></li>
