<li><a href="/kickoff/docs/index.html"{% if page.navactive == 'docsindex' %} class="is-active"{% endif %}>Principles</a></li>
<li><a href="/kickoff/docs/get.html"{% if page.navactive == 'docsget' %} class="is-active"{% endif %}>Get Kickoff</a></li>
<li><a href="/kickoff/docs/usage.html"{% if page.navactive == 'docsusage' %} class="is-active"{% endif %}>Usage</a></li>
<li><a href="/kickoff/docs/grunt.html"{% if page.navactive == 'docsgrunt' %} class="is-active"{% endif %}>Grunt</a></li>
<li><a href="/kickoff/docs/sass.html"{% if page.navactive == 'docssass' %} class="is-active"{% endif %}>Sass</a></li>
<li><a href="/kickoff/docs/css.html"{% if page.navactive == 'docscss' %} class="is-active"{% endif %}>CSS</a></li>
<li><a href="/kickoff/docs/js.html"{% if page.navactive == 'docsjs' %} class="is-active"{% endif %}>Javascript</a></li>
<li><a href="/kickoff/docs/grid.html"{% if page.navactive == 'docsgrid' %} class="is-active"{% endif %}>The Grid</a></li>
<li><a href="/kickoff/docs/yeoman.html"{% if page.navactive == 'docsyo' %} class="is-active"{% endif %}>Yeoman generator</a></li>
<li><a href="/kickoff/docs/sublime.html"{% if page.navactive == 'docssublime' %} class="is-active"{% endif %}>Sublime Text snippets</a></li>
