<footer class="credits">
	<h3>To get started, simply checkout the framework using Git or SVN:</h3>
	<code class="code-lrg" data-before="GIT:">
		git clone https://github.com/tmwagency/kickoff.git project-name
	</code>
	<code class="code-lrg" data-before="SVN:">
		svn checkout https://github.com/tmwagency/kickoff project-name
	</code>

	<h3 class="text-centre">Kickoff's technology stack</h3>

	<div class="stack-logos text-centre">
		<a href="https://developer.mozilla.org/en-US/docs/Web/HTML"><img src="/kickoff/img/stack-logos/HTML5.svg" alt="HTML5 logo"></a>
		<a href="http://sass-lang.com"><img src="/kickoff/img/stack-logos/sass.png" alt="Sass logo"></a>
		<a href="http://gruntjs.com"><img src="/kickoff/img/stack-logos/grunt.svg" alt="Grunt logo"></a>
		<a href="http://jquery.org"><img src="/kickoff/img/stack-logos/JQuery.svg" alt="jQuery logo"></a>
	</div>
	<p class="text-centre">Read more about them in our <a href="/kickoff/docs/">documentation</a></p>

	<div class="row">
		<div class="col span8">
			<p>
			Kickoff is maintained by <a href="http://mrmartineau.co.uk">Zander Martineau</a> and <a href="http://dragongraphics.co.uk">Ashley Nolan</a>
			<br>
			Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
		</div>
		<div class="col span4 social-links text-right">
			<a href="http://github.com/tmwagency/kickoff" class="btn-primary">Github</a>
			<a href="http://twitter.com/tmwkickoff" class="btn-primary">Twitter</a>
		</div>
	</div>


</footer>