<header class="masthead masthead-all clearfix">
	<div class="g-container">
		<h1 class="logo"><a href="/kickoff/">Kickoff</a></h1>

		<nav class="nav">
			<ul class="main-nav">
				<!-- <li><a href="/kickoff/"{% if page.navgroup == "home" %} class="is-active"{% endif %}>Overview</a></li> -->
				<li><a href="/kickoff/docs/"{% if page.navgroup == "docs" %} class="is-active"{% endif %} data-icon-after="&#59215;">Get Started</a>
					<ul class="sub-nav">
						<li><a href="/kickoff/docs/index.html">Documentation home</a></li>
						<li><a href="/kickoff/docs/usage.html">Usage</a></li>
						<!-- <li><a href="/kickoff/docs/faq.html">FAQ</a></li> -->
						<!-- <li><a href="/kickoff/docs/html.html">HTML</a></li> -->
						<!-- <li><a href="/kickoff/docs/css.html">CSS</a></li> -->
						<li><a href="/kickoff/docs/sass.html">Sass</a></li>
						<li><a href="/kickoff/docs/grid.html">The Choreographic Grid</a></li>
						<li><a href="/kickoff/docs/js.html">Javascript</a></li>
						<li><a href="/kickoff/docs/grunt.html">Grunt</a></li>
					</ul>
				</li>
				<li><a href="/kickoff/demos/"{% if page.navgroup == "demo" %} class="is-active"{% endif %} data-icon-after="&#59215;">Demos</a>
					<ul class="sub-nav">
						<li><a href="/kickoff/demos/index.html">Demo home page</a></li>
						<li><a href="/kickoff/demos/typography.html">Typography</a></li>
						<li><a href="/kickoff/demos/forms.html">Forms</a></li>
						<li><a href="/kickoff/demos/grids.html">Grids</a></li>
						<li><a href="/kickoff/demos/elements.html">Elements</a></li>
						<li><a href="/kickoff/demos/components.html">Components</a></li>
					</ul>
				</li>
				<li><!-- <a href="/kickoff/blog"{% if page.navgroup == "blog" %} class="is-active"{% endif %}>Blog</a> --></li>
				<li><a href="https://github.com/tmwagency/kickoff/" target="_blank" data-icon-after="&#59157;">View on Github</a></li>
			</ul>
		</nav>
	</div>
</header>
