<header class="masthead masthead-all clearfix">
	<div class="g-container">
		<h1 class="logo"><a href="/kickoff/">Kickoff</a></h1>

		<nav class="nav">
			<ul class="main-nav">
				<li><a href="/kickoff/demos/"{% if page.navgroup == "demo" %} class="is-active"{% endif %}>Demos</a></li>
				<li><a href="/kickoff/learn/"{% if page.navgroup == "docs" %} class="is-active"{% endif %}>Learn</a></li>
				<li><a href="/kickoff/statix/index.html"{% if page.navgroup == "statix" %} class="is-active"{% endif %}>Kickoff Statix</a></li>
				<!-- <li><a href="/kickoff/blog"{% if page.navgroup == "blog" %} class="is-active"{% endif %}>Blog</a></li> -->
				<li><a href="https://github.com/tmwagency/kickoff/" target="_blank" data-icon-after="&#59157;">View on Github</a></li>
			</ul>
		</nav>
	</div>
</header>
