---
layout: default
---
<section class="wideBoy default">
	<div class="g-container">
		<h1 class="entry--title">{{ page.title }}</h1>
		{% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
	</div>
</section>

<article class="g-container entry">
	{{ content }}

	<footer class="docs-footer alert">
		These docs are still incomplete. If you have any questions, please <a href="https://github.com/tmwagency/kickoff/issues/new">file an issue</a> on Github.
	</footer>
</article>



<!-- Pagination links -->
<div class="pagination">
	{% if page.previous %}
		<a href="{{page.previous.url}}">Previous post</a>
	{% endif %}
	{% if page.next %}
		<a href="{{page.next.url}}">Next post</a>
	{% endif %}
</div>
